- content_for :head do
  %script{ :src => "/javascripts/main.js", :type => "text/javascript" }
  %script{ :src => "/javascripts/nagios.js", :type => "text/javascript" }
  :javascript
    var chartbeat_api_key = "#{@chartbeat_api_key}";

#content
  #first.column
    %h1 Projects
    - @projects.each do |project, attributes|
      .project.status.inactive{ :ref => project, :chartbeat_url => attributes[:chartbeat_url] }
        .identifier
          = attributes[:name]
          .health.builds
          .points= attributes[:shepherd]
        .info
          .summary
            .attribute.speed
              - if attributes[:page_speed_score]
                %img{ :src => "https://chart.googleapis.com/chart?cht=gom&chd=t:#{attributes[:page_speed_score]}&chs=40x18&chf=bg,s,65432100" }
            .attribute.stats.right= haml :stats, :locals => { :stats => attributes[:activity], :max => max_activity_across_projects(@projects) }, :layout => false
  #second.column
    %h1 Systems
    = haml :nagios_status, :layout => false

  #third.column
    -# TODO: This classes should be replaced by IDs
    .clock
      .time
      .date
    .weather
      .image
        %img{ :src => @weather_image }
      .info
        .temp
          -# TODO: We should have an ID for both low and max, for better semantic and testing
          = "#{@weather.condition.temp}°C"
          %span.high= "#{@weather.forecasts.first.high}°C"
        .text= @weather_condition
    = @google_calendar_embed_code

#footer
  #mpd
    %span#current

#ci-failure-overlay.ci-failure.overlay
#ci-failure-message.ci-failure.overlay-message
  .project-name
  .message is brokenated.
  .message Chuck angry!

#standup-overlay.standup.overlay
#standup-message.standup.overlay-message
  Standup time!!!
  %br
  Don't forget the guys in Adelaide...

#monday-overlay.monday.overlay
#monday-message.monday.overlay-message
  Monday morning meeting!!!

#friday-overlay.friday.overlay
#friday-message.friday.overlay-message
  %img{:src => '/images/mexican_friday.png'}/
