#content
  #first.column
    %h1 Projects
    - @projects.each do |project, attributes|
      .project.status.active{ :ref => project }
        .identifier
          = attributes[:name]
          .points= "#{attributes[:pivotal][:current]}/#{attributes[:pivotal][:velocity]}"
        .info
          .ci
            .message
            .author
          .div
            .attribute= "Av.P: #{attributes[:pivotal][:average]}"
            .attribute.separator= "|"
            .attribute= "Av.h: #{attributes[:st][:average]}"
            .attribute.separator= "|"
            .attribute= "h/P: #{(attributes[:st][:hours].to_f / attributes[:pivotal][:points] * 100).round / 100.0}"

  #second.column
    %h1 Systems
    #nagios-status.status
      .identifier Nagios
      .info
        Services:
        %span.system-count
        %br/
        Problems:
        %span.problem-count
        %br/
        %span.problems

  #third.column
    %embed.clock{ :src => "http://www.clocklink.com/clocks/5005-blue.swf?TimeZone=AEDT&", :width => 225, :height => 65, :wmode => "transparent", :type => "application/x-shockwave-flash" }/
    .weather
      .image
        %img{ :src => @weather.image_url }
      .info
        .temp= "#{@weather.condition.temp}°C (#{@weather.forecasts.first.high}°C)"
        .text= @weather.condition.text
    %iframe{ :src => "http://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=496&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=dnv17juvgme52i520fj9pahf6g%40group.calendar.google.com&amp;color=%230D7813&amp;src=fjch0inl5i4uqjs8t1kvqaoduk%40group.calendar.google.com&amp;color=%23BE6D00&amp;ctz=Australia%2FSydney", :frameborder => 0, :scrolling => "no", :width => 310, :height => 331 }

#footer
  #mpd
    %span#current

#ci-failure-overlay.ci-failure.overlay
#ci-failure-message.ci-failure.overlay-message
  .project-name
  .message build failed.
  .message
    Fix it
    %span.author

#nagios-failure-overlay.nagios-failure.overlay
#nagios-failure-message.nagios-failure.overlay-message
  .system-name
  .message has a problem.
  .message
    Go Jonny go!

#standup-overlay.standup.overlay
#standup-message.standup.overlay-message
  Standup time!!!

#monday-overlay.monday.overlay
#monday-message.monday.overlay-message
  Monday morning meeting!!!
