- content_for :head do
  %script{ :src => "javascripts/input.js", :type => "text/javascript" }

#center-wrap
  #error

  %form
    .column.project-wrap
      %select#project-select{ :name => "project" }
        %option{ :value => 0 } Select a project...
        - @sprints.each do |project, attributes|
          %option{ :value => attributes[:id] }= project
    .column
      %div
        Hours worked:
        %input#hours
      %div
        Money earned:
        %input#income
  %button#save-hours{ :type => "submit" } Update

  - @sprints.each do |project, attributes|
    %select.iterations.hidden{ :name => "iteration", :ref => attributes[:id] }
      - attributes[:iterations].each do |iteration|
        %option{ :value => iteration[:number] }= "#{iteration[:number]} (#{iteration[:start]} - #{iteration[:finish]})"
