- content_for :head do
  %script{ :src => "/javascripts/report.js", :type => "text/javascript" }

%table#timereport
  %caption
    = "#{@time_report.project_name}:"
    = haml :_report_top, { :layout => false }, :period => @time_report.period

  %thead
    %tr
      = haml(:_report_header, { :layout => false }, :users => @time_report.users)

  - ['', 'subtotal', 'total'].each do |rowtype|
    %tbody{:class => rowtype}
      - @time_report.send(rowtype == "" ? "rows" : rowtype + "_rows").each do |row|
        %tr{ :class => row.classes }
          = haml(:_report_row, { :layout => false }, :users => @time_report.users, :row => row)

%p
  Team strength for the (
  = "%d" % @time_report.period_duration(:weeks)
  week ) sprint:
  = "%d" % @time_report.team_strength
  \% &nbsp; <strong>|</strong> &nbsp;
  Total hours per point this period:
  = "%.1f" % (@time_report.seconds_per_point_this_period / 3600.0)
  &nbsp;( target
  = "%.1f" % TimeReport::Task::TARGET_HOURS_PER_POINT
  )
