%table#timereport
  %caption
    = "#{@time_report.project_name}:"
    = @time_report.period.first.strftime("%F")
    through
    = @time_report.period.last.strftime("%F")
  %thead
    %tr
      %th Task
      %th Pivotal Name
      %th Story Type
      %th Pivotal Points
      %th Pivotal Status
      - @time_report.users.each do |user|
        %th= user.name
      %th Total Hours This Period
      %th Lifetime Hours
      %th Lifetime Hours / Point
  %tbody
    - @time_report.tasks.each do |task|
      %tr
        %td.name= task[:name]
        %td= task[:pivotal_name]
        %td= task[:story_type]
        %td.number= task[:points]
        %td= task[:status]
        - @time_report.users.each do |user|
          %td.number
            - if time = task[:time_by_user][user.id]
              = time.to_hours
        %td.total.number= task[:time_this_period].to_hours
        %td.number= "%.2f" % task[:lifetime_hours]
        %td.number= "%.2f" % (task[:lifetime_hours] / task[:points]) rescue ''
    %tr.bugs
      %td.name= @time_report.bug_summary[:name]
      - 4.times do
        %td
      %td.number= "%.2f" % @time_report.bug_summary[:lifetime_hours]
      %td.number
        - @time_report.users.each do |user|
          %td.number
            - if time = @time_report.bug_summary[:time_by_user][user.id]
              = time.to_hours
      %td.total.number= @time_report.bug_summary[:time_this_period].to_hours
