%table#timereport
  %caption
    = "#{@time_report.project_name}:"
    = @time_report.period.first.strftime("%F")
    through
    = @time_report.period.last.strftime("%F")
  %thead
    %tr
      %th Task
      %th Pivotal Name
      %th Story Type
      %th Pivotal Points
      %th Pivotal Status
      - @time_report.users.each do |user|
        %th= user.name
      %th Total Hours This Period
      %th Lifetime Hours
      %th Lifetime Hours / Point
  %tbody
    - @time_report.tasks.each do |task|
      %tr
        %td.name= task[:name]
        %td= task[:pivotal_name]
        %td= task[:story_type]
        %td.number= task[:points]
        %td= task[:status]
        - @time_report.users.each do |user|
          %td.number
            - if time = task[:time_by_user][user.id]
              = time.to_hours
        %td.total.number= task[:time_this_period].to_hours
        %td.number= "%.2f" % task[:lifetime_hours]
        %td.number= "%.2f" % (task[:lifetime_hours] / task[:points]) rescue ''
    - @time_report.totals.each do |type, values|
      %tr.totals
        %td.name= type
        - 2.times do
          %td
        %td.number= values[:points]
        %td
        - @time_report.users.each do |user|
          %td.number
            - if time = values[:time_by_user][user.id]
              = time.to_hours
        %td.number= values[:time_this_period].to_hours
        %td.number= "%.2f" % values[:lifetime_hours]
        %td

%p
  Team strength for the period
  = @time_report.team_strength
