%table#timereport
  %caption
    = "#{@time_report.project_name}:"
    = @time_report.period.first.strftime("%F")
    through
    = @time_report.period.last.strftime("%F")
  %thead
    %tr
      %th Task
      %th Pivotal Name
      %th Story Type
      %th Pivotal Points
      %th Pivotal Status
      %th Lifetime Hours
      %th Lifetime Hours / Point
      - @time_report.users.each do |user|
        %th= user.name
      %th Total Hours This Period
  %tbody
    - @time_report.tasks.each do |task|
      %tr
        %td.name= task[:name]
        %td= task[:pivotal_name]
        %td= task[:story_type]
        %td.number= task[:points]
        %td= task[:status]
        %td.number= task[:lifetime_hours]
        %td.number= task[:lifetime_hours] / task[:points] rescue ''
        - @time_report.users.each do |user|
          %td.number
            - if time = task[:time_by_user].assoc(user.id)
              = time.last.to_hours
        %td.total.number= task[:time_this_period].to_hours
