%table#timereport
  %caption
    = "#{@time_report.project_name}:"
    = @time_report.period.first.strftime("%F")
    through
    = @time_report.period.last.strftime("%F")
  %thead
    %tr
      %th Task
      %th Pivotal Name
      %th Story Type
      %th Pivotal Status
      %th Estimated Points
      %th True Points
      %th % of Total Hours This Period
      - @time_report.users.each do |user|
        %th= user.name
      %th Total Hours This Period
      %th Lifetime Hours
      %th Lifetime Hours / Point
  - ['', 'subtotal', 'total'].each do |rowtype|
    %tbody{:class => rowtype}
      - @time_report.send(rowtype == "" ? "rows" : rowtype + "_rows").each do |row|
        %tr{ :class => row.classes }
          %td=               row.formatted_value_for :name
          %td=               row.formatted_value_for :pivotal_name
          %td=               row.formatted_value_for :story_type
          %td=               row.formatted_value_for :status
          %td.points.number= row.formatted_value_for :points
          %td.points.number= row.formatted_value_for :actual_points
          %td.number=        row.formatted_value_for :time_this_period_percent
          - @time_report.users.each do |user|
            %td.number= row.formatted_value_for user.id
          %td.number=        row.formatted_value_for :time_this_period
          %td.number=        row.formatted_value_for :lifetime_hours
          %td.number=        row.formatted_value_for :lifetime_hours_per_point

%p
  Team strength for the (
  = "%d" % @time_report.period_duration(:weeks)
  week ) sprint:
  = "%d" % @time_report.team_strength
  \% &nbsp; <strong>|</strong> &nbsp;
  Total hours per point this period:
  = "%.1f" % (@time_report.seconds_per_point_this_period / 3600.0)
  &nbsp;( target
  = "%.1f" % TimeReport::Task::TARGET_HOURS_PER_POINT
  )
